@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.fixed-width{
    max-width: 1200px;
}
p{
    color: #534C64;
}
h1, h2, h3, h4, h5, h6{
    color: #0B0223;
}
.gradient-color{
    background-image: linear-gradient(180deg, #F948B2, #8758F1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-color2{
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pink{
    color: #FF42A5
}
.flex{
    display: flex;
}

/* Header style start here  */
header{
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 0px;
}
nav{
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    align-items: center;
}
.logo-container > img{
    width: 40%;
    margin-right: 20px;
}
.logo-title{
    font-size: 2.5rem;
}
.menu-item{
    align-items: center;
    list-style: none;
}
.menu-item li{
    margin: 0px 30px;
}
.menu-item li a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
    font-size: 1.1rem;
}
button.nav-btn {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
}
.nav-btn img {
    width: 23px;
}
/* Header style end here  */

/* Banner style start here  */
.banner{
    padding-top: 50px;
    background-image: url(images/shape-bg.png);
    background-repeat: no-repeat;
    margin-bottom: -5px;
}
.banner-container{
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.banner-content, .banner-img{
    width: 50%;
}
.banner-content .sub-heading{
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-heading{
    font-size: 5.5rem;
    margin-bottom: 20px;
}
.banner-list{
    list-style: none;
    margin-bottom: 35px;
}
.banner-list > li{
    color: #534C64;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.banner-list li img {
    width: 20px;
    margin-right: 15px;
}
.banner-btn,
.gamer-btn{
    padding: 15px 30px;
    border: none;
    border-radius: 35px;
    color: #fff;
    text-transform: uppercase;
}
.left-btn,
.gamer-btn {
    background: #FF42A5;
    margin-right: 20px;
}
.right-btn{
    background: #4EC5F7;
}
.banner-img img{
    width: 100%;
}
/* Banner style end here  */

/* We are gamer section style start here  */
.gamer{
    background: #fff9fc;
    padding: 50px 0px;
}
.gamer-container{
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 40px;
}
.gamer-img{
    width: 63%;
}
.gamer-img img{
    width: 100%;
}
.gamer-content{
    width: 37%;
    text-align: right;
}
h1.gamer-heading {
    font-size: 2.5rem;
}
p.gamer-paragraph {
    line-height: 25px;
    margin: 20px 0px;
}
p.gamer-purpose {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 20px;
}
p.gamer-quotation {
    font-size: 1.5rem;
    font-weight: 600;
}
/* We are gamer section style end here  */

/* Online Games videos style start here  */
.video-container{
    margin: auto;
    padding: 100px 0px;
}
.video-content{
    text-align: center;
    margin-bottom: 50px;
}
h1.video-title {
    font-size: 2.8rem;
}
.all-videos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.video-thumbnail {
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    transition: background 0.5s ease;
  }
.single-video-box{
    position: relative;
    cursor: pointer;
}
.single-video-box:hover .overlay{
    display: block;
    background: rgba(0, 0, 0, 0.5);
}
.play-button {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 35%;
    transition: all .5s ease;
    opacity: 0;
}
.play-button-text {
    color: #F948B2;
    font-size: 1rem;
    font-weight: 500;
}
.single-video-box:hover .play-button{
    opacity: 1;
}
/* Online Games videos style end here  */



/* Play instantly section start here */
.play-container,
.play-games-container {
    margin: auto;
    gap: 200px;
    align-items: start;
}
.play-content, 
.play-img,
.play-games-content,
.play-games-img {
    width: 50%;
}
.play-content{
    text-align: right;
    margin-top: 180px;
}
.play-content h1, 
.play-games-content h1{
    font-size: 2.8rem;
}
p.play-text {
    padding-left: 150px;
    line-height: 25px;
    margin: 20px 0px;
}
.play-img img:first-child{
    width: 100%;
}
.play-img img:last-child {
    position: relative;
    left: -140px;
    bottom: 220px;
}
/* Play instantly section end here */
/* Play games css style start here  */
.play-games-text{
    padding-right: 50px;
    line-height: 25px;
    margin: 20px 0px;
}
.play-games-img img:first-child{
    width: 100%;
}
.play-games-img img:last-child {
    position: relative;
    right: -310px;
    bottom: 220px;
    width: 55%;
}
.play-games-content{
    margin-top: 180px;
}

/* Play games css style end here  */
/* Careers style start here  */
.careers{
    background-color: #FF42A5;
    background-image: url(images/Vector\ 2.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    padding: 100px 0px;
}
.careers-container{
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.careers-content, .careers-img{
    width: 50%;
}
h1.careers-title {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 700;
}
p.careers-description {
    color: #fff;
    font-weight: 300;
    font-size: 1rem;
    line-height: 25px;
    margin: 25px 0px;
}
.careers-list{
    justify-content: space-between;
    color: #fff;
}
.skill-list ul, .careers-list ul{
    list-style: none;
}
.skill-list ul li, .careers-list ul li{
    margin: 10px 0px;
}
.careers-location{
    text-align: right;
}
.careers-button {
    padding: 17px 36px;
    border-radius: 35px;
    border: none;
    color: #FF42A5;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 35px;
}
.careers-img img{
    width: 100%;
}
/* Careers style end here  */



/* Game type css style start here  */
.games-type-container{
    margin: 100px auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.game-box{
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 35px;
    padding: 5px 10px;
    cursor: pointer;
}
.game-box h6 {
    font-size: .8rem;
}
.game-box:hover{
    border: 1px solid #FF42A5;
    border-radius: 35px;

}
.game-box:hover h6{
    color: #FF42A5;
}
.game-box img {
    width: 50px;
    margin-right: 15px;
}


/* Game type css style end here  */


/* Footer style start here  */
footer{
    padding: 150px 0px;
    background-color: #0B0223;
}
.footer-container{
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.footer-logo{
    justify-content: center;
}
.footer-logo h1{
    color: #fff;
    margin-left: 20px;
}
.condition-menu, 
.footer-menu{
    margin: 50px 0px;
}
.condition-menu ul, 
.footer-menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condition-menu ul li a, 
.footer-menu ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 30px;
}
.condition-menu ul li a{
    color: rgba(255, 255, 255, 0.60);
}
.social-icon {
    color: #fff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    column-gap: 94px;
    flex-wrap: wrap;
    padding: 0px 100px;
}
.fa-brands{
    cursor: pointer;
}

/* Footer style end here  */


/* Responsive design start from here  */

/* Mobile Responsive Design  */
@media screen and (max-width: 576px) {
/* header responsive design */
    header{
        box-shadow: none
    }
    nav,
    .menu-item,
    .gamer-container,
    .play-container,
    .careers-container {
        flex-direction: column;
    }
    .logo-container,
    .menu-item li{
        margin-bottom: 30px;
    }

/* banner responsive design */
    .banner, 
    .gamer{
        background: none;
    }
    .banner-container,
    .play-games-container{
        flex-direction: column-reverse;
    }
    .banner-content, .banner-img {
        width: 90%;
    }
    .banner-content{
        background-image: url(images/shape-bg.png);
        background-size: contain;
        padding: 20px;
    }

/* gamer section responsive design */
    .gamer-img,
    .gamer-content{
        width: 85%;
    }
    .gamer-content{
        text-align: center;
    }
    p.gamer-purpose {
        margin-top: 40px;
    }

/* Video section responsive design */
    .video-container{
        width: 85%;
    }
    .all-videos{
        margin: auto;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 70px;
    }
    .video-box p {
        margin-top: 25px;
        text-align: center;
        font-weight: 500;
    }
    .video-content {
        margin-bottom: 80px;
    }


/* play content responsive design */
    .play-container,
    .play-games-container{
        gap: 20px;
    }
    .play-content, 
    .play-img,
    .play-games-content,
    .play-games-img{
        margin: auto;
        width: 90%;
        text-align: center;
    }

    .play-content p,
    .play-games-text{
        padding: 10px 20px;
    }
    .play-img img:first-child{
        width: 75%;
    }
    .play-img img:last-child {
        width: 45%;
        position: relative;
        left: -115px;
        bottom: 120px;
    }


    .play-games-img img:first-child{
        width: 75%;
    }
    .play-games-img img:last-child {
        width: 45%;
        position: relative;
        right: -115px;
        bottom: 120px;
    }

/* Careers responsive here  */
.careers{
    background-image: none;
}
.careers-content, .careers-img {
    width: 90%;
}
.skill-list ul li, .careers-list ul li{
    font-size: .8rem;
}
.careers-img {
    background-image: url(images/Vector\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

/* games type section responsive design */
    .games-type-container{
        width: 100%;
        gap: 10px;
    }
    .game-box{
        padding: 5px 5px;

    }
    .game-box h6 {
        font-size: .5rem;
    }
    .game-box img {
        width: 35px;
        margin-right: 5px;
    }

    /* footer section responsive design */
    .condition-menu ul, 
    .footer-menu ul{
        flex-wrap: wrap;
        row-gap: 50px;
    }
    .social-icon {
        padding: 0px 50px;
        row-gap: 50px;
    }
}

















/* Tablet Responsive Design  */
@media screen and (min-width: 577px) and (max-width: 992px) {

    header{
        box-shadow: none
    }
    nav,
    .menu-item {
        flex-direction: column;
    }
    .logo-container,
    .menu-item li{
        margin-bottom: 30px;
    }

     .banner,
     .gamer{
        background: none;
    }
    .banner-container,
    .gamer-container{
        padding: 0px 50px;
    }
    /* .banner-content{
        background-image: url(images/shape-bg.png);
        padding: 100px;
    } */
}